<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0.0" package="com.miui.fmradio"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <permission android:name="com.miui.fmradio.permission.ACCESS_USER_DATA" android:protectionLevel="normal" />
    <application android:taskAffinity="miui.task.radio">
        <provider android:name="com.miui.radio.content.RadioProvider" android:permission="com.miui.fmradio.permission.ACCESS_USER_DATA" android:enabled="true" android:exported="true" android:authorities="com.miui.radio" />
    </application>
</manifest>